@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Barlow Regular';
  src: url('./assets/fonts/subset-barlow-Regular.woff2') format('woff2'),
       url('./assets/fonts/subset-barlow-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bellefair';
  src: url('./assets/fonts/subset-Bellefair-Regular.woff2') format('woff2'),
       url('./assets/fonts/subset-Bellefair-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/subset-BarlowCondensed-Regular.woff2') format('woff2'),
       url('./assets/fonts/subset-BarlowCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/subset-BarlowCondensed-Bold.woff2') format('woff2'),
       url('./assets/fonts/subset-BarlowCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/subset-BarlowCondensed-Medium.woff2') format('woff2'),
       url('./assets/fonts/subset-BarlowCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/subset-BarlowCondensed-ExtraLight.woff2') format('woff2'),
       url('./assets/fonts/subset-BarlowCondensed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

.bg-home {
    @apply bg-home-mobile;
    @apply md:bg-home-tablet;
    @apply 1xl:bg-home-desktop;
}
.bg-destination {
    @apply bg-destination-mobile;
    @apply md:bg-destination-tablet;
    @apply 1xl:bg-destination-desktop;
}
.bg-crew {
    @apply bg-crew-mobile;
    @apply md:bg-crew-tablet;
    @apply 1xl:bg-crew-desktop;
}
.bg-technology {
    @apply bg-technology-mobile;
    @apply md:bg-technology-tablet;
    @apply 1xl:bg-technology-desktop;
}

@layer utilities {
    @media (max-width: 768px), (min-width: 1440px) {
      .mask-image-fade {
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
      }
    }
  }
  

